html, body {
    margin: 0;
    height: 100%;
    width: 100%;

    font-family: 'Nunito', sans-serif;
    background: url('background.png');
    background-size: cover;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #26262d;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #26262d;
}

body::-webkit-scrollbar-thumb {
    background-color: #78cc6d;
}

.container {
    padding: 100px 0;
    margin: 0 auto;

    width: 80%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-items: flex-start; */
    justify-content: center;
}

.card {
    border-radius: 7px;

    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
}

a {
    color: whitesmoke;
    transition: color 0.5s ease;
    cursor: pointer;

    text-decoration: none;
}

a:hover {
    color: #78cc6d;
}

a.primary {
    padding: 7px;
    border-radius: 5px;
    border: 2px solid whitesmoke;

    transition: border 0.3s ease;
}

a.primary:hover {
    border: 2px solid #78cc6d;
}

h1 {
    color: whitesmoke;
    font-size: 42px;
    font-weight: bold;
    position: relative;
}


h2 {
    color: whitesmoke;
    font-size: 36px;
    font-weight: 800;
}


p {
    color: whitesmoke;
    font-size: 18px;
}

span.label, a.label {
    padding: 5px;
    color: white;
    background: #78cc6d;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
}
/* 
a.label_hollow, span.label_hollow {
    padding: 5px;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;

    min-width: 40px;
    display: inline-block;
    text-align: center;

    transition: border-color 0.5s ease;
    transition: background-color 0.5s ease;
}

a.label_hollow:hover {
    color: #26262d;
    border-color: #78cc6d;
    background-color: #78cc6d;
    font-weight: bold;
} */


/* Button */

a.label_hollow {
    position: relative;
    transition: color 0.4s ease-in-out;
    z-index: 1;
    overflow: hidden;

    padding: 5px;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    font-weight: lighter;
    font-size: 14px;

    min-width: 40px;
    display: inline-block;
    text-align: center;
}
  
a.label_hollow::before {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 100%;
    right: 100%;
    width: 100%;
    height: 2em;
    border-radius: 50%;
    background-color: #78cc6d;
    transform-origin: center;
    transform: translate3d(50%, 50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

a.label_hollow:hover {
    color: #161616;
    border-color: #78cc6d;
    font-weight: bold;
}
  
a.label_hollow:hover::before {
    transform: translate3d(50%, 50%, 0) scale3d(15, 15, 15);
}


a.label_hollow i {
    font-size: 18px;
}

a.label_hollow span {
    font-weight: lighter;
    font-size: 18px;
}

.progress_block {
    width: 150px;
    margin-right: 12px;
    display: inline-block;
}

.progress_block:hover > a {
    color: #78cc6d;
}

.progress_block > a {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
}

span.progress_line {
    width: 100%;
    height: 4px;
    background: #3e4148;
    display: block;
}

span.progress_line > .progress {
    background: #78cc6d;
    height: 100%;
    width: 0;
    display: block;
    position: relative;

    clip-path: polygon(0 0, calc(100% - 3px) 0, 100% 100%, 0% 100%);
}

hr {
    position: relative;
    border: 0;

    height: 2px;
    background: radial-gradient(ellipse at center, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%)
}

/* Borders */

.border_right::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;

    background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.45) 0%, rgba(255, 255, 255, 0) 70%)
}

.border_bottom_right::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;

    background: radial-gradient(ellipse at right, rgba(197, 202, 213, 0.45) 0%, rgba(255, 255, 255, 0) 70%)
}

.border_bottom::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;

    background: radial-gradient(ellipse at center, rgba(197, 202, 213, 0.45) 0%, rgba(255, 255, 255, 0) 70%)
}

.border_bottom_left::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;

    background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.45) 0%, rgba(255, 255, 255, 0) 70%)
}



.border_top::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;

    background: radial-gradient(ellipse at center, rgba(197, 202, 213, 0.45) 0%, rgba(255, 255, 255, 0) 70%)
}

.border_top_right::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;

    background: radial-gradient(ellipse at right, rgba(197, 202, 213, 0.45) 0%, rgba(255, 255, 255, 0) 70%)
}

/* Profile */

.profile {
    height: 800px;
    width: 370px;

    background: #26262d;

    z-index: 2;

    color: whitesmoke;

    display: flex;
    flex-direction: column;

    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.profile .profile_picture {
    height: 320px;
    width: 100%;

    background: 
        linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8)), 
        url('yo.jpg') no-repeat center;

    background-size: cover;

    border-radius: inherit;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: relative;
}

.profile .profile_picture span {
    display: block;
    text-align: center;
    margin-bottom: 20px;

    font-size: 42px;
    font-weight: 400;
}

.profile .profile_hero {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    position: relative;
}

.profile .profile_picture::before {
    content: '';
    position: absolute;
    top: 95%;

    width: 50%;
    height: 0;
    border-style: solid;
    border-width: calc(320px * 0.05) 0 0 calc(370px / 2);
    border-color: transparent transparent transparent #26262d;
}

.profile .profile_picture::after {
    content: '';
    position: absolute;
    top: 95%;
    left: 0;

    width: 50%;
    height: 0;
    border-style: solid;
    border-width: calc(320px * 0.05) calc(370px / 2) 0 0;
    border-color: transparent #26262d transparent transparent;
}

.profile .profile_hero .hero_title {
    display: block;
    text-align: center;

    font-size: 22px;
    font-weight: lighter;
    margin-top: 10px;

    position: relative;
}

.profile .profile_hero .hero_social {
    text-align: center;
    font-size: 24px;
    align-items: center;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    position: relative;

    padding-left: 20px;
}

.profile .profile_hero .hero_social a {
    margin-bottom: 10px;
    font-size: 16px;
}

.profile .profile_hero .hero_social a > i {
    width: 17px;
}

.profile .profile_hero .hero_description {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.profile .profile_hero .hero_description a {
    position: relative;
    display: block;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.profile .profile_footer {
    height: 80px;
    bottom: 0;

    border-radius: inherit;

    position: relative;

    display: flex;
    flex-direction: row;
}

.profile .profile_footer a {
    position: relative;
    display: block;
    height: 100%;
    width: 50%;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Details */

.details_wrapper {
    width: 700px;

    background: #26262d;
    overflow-y: auto;

    color: whitesmoke;

    padding-left: 50px;
    position: relative;
    
    margin-top: 50px;
}

.details_wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #26262d;
}

.details_wrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #26262d;
}

.details_wrapper::-webkit-scrollbar-thumb {
    background-color: #78cc6d;
}

.details_wrapper .details {
    margin-bottom: 30px;
}

.details_wrapper .details .details_title {
    font-size: 24px;
    position: relative;
    display: block;
    margin-top: 10px;
    color: #78cc6d
}

.details p {
    font-weight: lighter;
    font-size: 17px;
}

.details .chips {
    margin: 20px 0;
    position: relative;
}
.details .chips a {
    margin-bottom: 5px;
}

/* Experience */

.experience_section {
    margin: 10px auto 0 auto;
    padding: 20px 0;
    width: 90%;

    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.experience_section:hover {
    background: #3e41483f;
}

.experience_section .experience_company {
    position: relative;
    width: 39%;
    display: inline-block;
}

.experience_section .experience_company .hero {
    text-align: center;
}

.experience_section .experience_company .hero img {
    margin: 0;
}

.experience_section .experience_company .hero h4 {
    margin: 0;
}

.experience_section .experience_company .experience_role {
    text-align: center;
}

.experience_section .experience_description {
    position: relative;
    width: 59%;
    display: inline-block;
}

.experience_section .experience_description p {
    font-size: 16px;
    font-weight: lighter;
    padding: 0 12px;
}

.experience_section .experience_description .chips {
    padding: 0 12px;
}

/* Education */

.education_details {
    display: flex;
    padding: 12px;
    justify-content: space-around;
}

.education_section {
    padding: 20px;
}

.education_section:hover {
    background: #3e41483f;
}

.education_section .hero {
    text-align: center;
}

.education_section .hero img {
    margin: 0;
}

.education_section .hero h4 {
    margin: 0;
}

.education_section .hero .subtitle {
    display: block;
    font-size: 15px;
}

@media only screen and (max-width: 550px) {
    .card {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        border-radius: 0;
    }
    
    .container {
        width: 100%;
        padding: 0;
        flex-wrap: wrap;
    }

    .profile .profile_picture {
        height: 270px;
    }

    .profile .profile_picture::before {
        border-width: calc(270px * 0.05) 0 0 50vw;
    }

    .profile .profile_picture::after {
        border-width: calc(270px * 0.05) 50vw 0 0;
    }

    .details_wrapper {
        padding-left: 5px;
    }

    .details {
        padding: 12px;
    }

    .profile {
        position: relative;
        top: 0;
    }

    .experience_section {
        width: 100%;
    
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
    }   

    .experience_section .experience_company {
        width: 100%;
    }

    .experience_section .experience_description {
        width: 100%;
    }

    .education_details {
        flex-direction: column;
    }

    .education_details .education_section {
        margin-bottom: 30px;
    }

    .experience_company.border_right::before {
        content: none;
    }
}